html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

@media(max-width: 767px) { /* <== You can change this break point as per your  needs */
  .custom-columns {
    flex-direction: column-reverse;
    display: flex;
  }
}

